%body
    - if not @pins.present? and not params[:search].nil?
        %h3
            There are no posts containing the term(s)
            '
            = params[:search]
            '
    #pins
        - @pins.each do |pin|
            %article.white-panel
                = link_to pin do 
                    .panel-heading.image-heading    
                        = image_tag pin.image.url, :class => "pin_image"
                    .panel-body
                        .title
                            = pin.title
                        .description
                            = pin.description
                
    .fab.new-pin
        = link_to glyph(:plus), new_pin_path, alt: "Create New Pin"

    = javascript_include_tag 'pinterest_grid', 'data-turbolinks-track' => true

    :javascript
        $('#pins').imagesLoaded(function() {
            $('#pins').pinterest_grid({
                no_columns: 5,
                padding_x: 10,
                padding_y: 10,
                margin_bottom: 50,
                single_column_breakpoint: 768
            });
        });
